<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
	<title>Formulario</title>
</head>
<body>
	<header class="masthead container">
		<div class="jumbotron">
					<div class="container ">
						<div class="col-xs-12 col-sm-6 col-md-8">
							<h1 align="left">Titulo</h1>
							<p>Algo</p>
						</div>
						<div class="col-xs-6 col-md-4">
							<img class="img-rounded" alt="200x140" style="width: 200px; height: 140px;" src="./assets/logo_everis.png">
						</div>

					</div>
				</div>
	</header>
<!-------->
	<section class="container">
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
		    <li><a href="/">Inventario</a></li>
		    <li><a href="/bodega">Bodega</a></li>
		    <li><a href="/producto">Producto</a></li>
		  </ul>
		</nav>
	</section>
	<!------>
	<section class="container">
			<input id="listLocation" />

	</section>
		 <!---FIN TABLA-->


<!---->
<footer>
  <h4 class="text-center"><span>&copy; Curso Javascript CORFO, Everis 2017.</span></h4>
</footer>
</div>
</body>
<!--buenas practicas -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bootstrap/js/ajaxInventario.js" charset="utf-8"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./bootstrap/js/jquery.easy-autocomplete.min.js"></script> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


</html>
